<nav class="navbar">
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a routerLink="Home">
                    <i class="fa fa-home"></i>Home </a></li>

            <li><a routerLink="pages-register">Register</a></li>

            <li class="nav-item"><a routerLink="pages-login">Login</a></li>

            <!-- <li class="nav-item" (click)="logout()"><a routerLinkActive>logout</a></li>

                    <li class="nav-item"><a routerLink="/lesformations">Suivi Une Formation </a></li>

                    <li class="nav-item" *ngIf="showFormateurBoard && showFormateurBoard "> <a
                                    routerLink="/formations">Gestion
                                    Formation</a></li>

                    <li class="nav-item" *ngIf="showFormateurBoard && showFormateurBoard "> <a
                                    routerLink="/tests">Gestion
                                    Tests</a> -->

        </div>
    </ul>
</nav>