    <body style="    background-color: beige;    ">
        <div class="flex-container">
        <img id="res" src="../../assets/img/res.jpg">
        <p>paragraph</p>
        </div>
        
        <div class="flex-container-2">
           
            <img class="logo" src="../../assets/img/logo.jpg">
            <img class="logo" src="../../assets/img/logo2.png">
            <img class="logo" src="../../assets/img/logo3.jpg">


            
        </div>
            
        <div class="flex-container-3">
                <a routerLink='/dashboard' >
                    <button class="btn"
                    type="button">
                     Go to dashboard
                    </button>
                    
                </a>
                    
                <a routerLink='/dashboard' >
                        <button class="btn"
                        type="button">
                         Go to dashboard
                        </button>
                        </a>
                        
                <a routerLink='/dashboard' >
                            <button class="btn"
                            type="button">
                             Go to dashboard
                            </button>
                            </a>
                
            </div>
            
            
            
            
    </body>
    
